<ng-navbar></ng-navbar>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="image-gallery">
                <img src={{product.url}} alt="">
            </div>
        </div>
        <div class="col product-details">
            <p class=" fw-bold fs-2">{{product.title}}</p>
            <p class="fw-light" style="font-size:12px;">Sweetshirt</p>
            <p class="">{{product.price}} ₺</p>
            <div class="beden">
                <p class="fw-light"><span class="text-danger">*</span> Beden Seçiniz</p>
                <ul class="list-unstyled">
                    <li [ngClass]="{clicked : sClicked}" (click)= 'sizeHandler("s")'>S</li>
                    <li [ngClass]="{clicked : mClicked}" (click) = 'sizeHandler("m")'>M</li>
                    <li [ngClass]="{clicked : lClicked}" (click) = 'sizeHandler("l")'>L</li>
                    <li [ngClass]="{clicked : xlClicked}" (click) = 'sizeHandler("xl")'>XL</li>
                </ul>
            </div>
            <div class="actions">
                <button class="btn" (click) = 'addToCart(product)'><i class="bi bi-cart4 me-2"></i>Sepete Ekle</button>
                <span><i class="bi bi-heart"></i></span>
            </div>
            <div class="info mt-5">
                <h6 class="fw-bold">Ürün Özellikleri<i class="bi bi-body-text float-end" style="font-size:20px ;"></i></h6>
                <hr>
                <h6 class="fw-bold">Teslimat ve İade 
                    <i *ngIf="!deliveryShown" class="bi bi-plus float-end" (click) = 'showDelivery()' style="font-size:20px ;"></i>
                    <i *ngIf="deliveryShown" class="bi bi-dash float-end" (click) = 'hideDelivery()' style="font-size:20px ;"></i>
                </h6>
                    <p id="delivery-hidden" style="font-size: 13px; word-spacing: 2.5px; display: none;">
                        Teslimat: Siparişleriniz, belirtilen teslimat tarihinde kargo firması tarafından size ulaştırılır. Maximum 2-3 iş günü içinde kargoya teslim edilir. İade Değişim: Satın aldığınız herhangi bir ürünü, iade şartlarına uygun olması koşuluyla, siparişinizin size ulaştığı günü takip eden 15 gün içinde iade edebilirsiniz. (Hijyen gerektiren boxer, külotlu çorap vs ürünler hariç) İstediğiniz beden veya numara stoklarımızda mevcut ise ürün değişimi yapabilirsiniz.İade etmek istediğiniz ürünün ambalajının hasar görmemiş, kullanılmamış; barkodunun zedelenmemiş, kopmamış olması gerekir. İade etmek istediğiniz ürün/ürünleri orijinal kutusu ve tüm aksesuarları ile göndermelisiniz. Tek kullanımlık, hızlı bozulan, son kullanma tarihi geçme olasılığı taşıyan ürünlerde yasa gereği cayma hakkı kullanılamaz.Hijyen kuralları gereği boxer, çorap, külot, string, slip ve benzeri alt grup hijyenik ürünler; külotlu korseler, tayt çeşitleri, alt içliklerin iadesi/değişimi Mevcut değildir.
                    </p>
                <hr>
            </div>
        </div>
    </div>
</div>