.container {
    display: flex;
    justify-content: space-evenly;
}
.image-gallery img{
    width: 450px;
    height: 500px;
}

.product-details {
    line-height: 15px;
    float: left;

}

.beden ul li {
    display: inline-block;
    border: 3px solid black;
    margin-left: 10px;
    padding: 2px 4px;
    transition: all .35s;
    min-width: 28px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.beden ul li:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.actions button {
    background-color: rgb(255, 200, 0);
    padding: 5px 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.actions span {
    background-color: #E0E0E0;
    padding: 8px 25px;
    position: relative;
    top: 2px;
    left: 5px;
}

.clicked {
    background-color: black;
    color: white;
}

@media (max-width:700px) {
    .product-details {
        margin-left: 1rem;
        margin-top: 1.3rem;
    }
    .info h6 i{
        margin-right: 1rem;
    }
}

@media (max-width:400px) {
    .product-details {
        padding: 3rem;
    }
}

@media (max-width : 500px) {
    .product-details {
        padding: 2rem;
    }
}

@media (max-width : 375px) { 
    .product-details {
        padding: 3rem;
    }
}
