a img {
    height: 120px;
    width: 200px;
}

nav li {
    margin-left: 50px;
    border-top: .5px solid rgba(128, 128, 128, 0.465);
    transition: all .4s;
}

nav li:hover {
    border-top: 3px solid black;

}

i:hover {
    cursor: pointer;
    color: #0B58CA
}

.dropdown-item {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}
.dropdown:hover .dropdown-menu {
    display: flex;
    flex-direction: row;
    margin-top: 0;
 }
 .navbar-toggler {
    border:none;
 }
 #accdropdown:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: -5rem;
 }

 #brand-md {
    max-width: 150px;
    max-height: 200px;
    display: none;
    margin-left: auto;
    margin-right: auto;
 }

 .float-end i {
    padding:0 18px 0 12px;
    cursor:pointer;
}
  
#cart-count {
    display: inline;
    position: relative;
    top: -20px;
    color: rgb(158, 85, 85);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    font-style: normal;
    font-size: 20px;
    width: 15px;
    height: 15px;
    text-align: center;
}

#account-dropdown-menu {
    flex-direction: column;
    position: absolute;
    right: -50px;
    width: 50%;
    border: 1px solid black;
    height: 120px;
    transition: all 1s;
}
#account-dropdown-menu:hover {
    cursor:auto;
}
#account-dropdown-menu i {
    padding: 0px;
}

.list-unstyled li {
    border: none;
    display: list-item;
    padding: 5px;
    margin-left: 0px;
    margin-bottom: 2px;
    margin-top: 0px;
    padding-top: 0px;
    transition: all .4s;
}
.list-unstyled li:hover {
    border: none;
}

.list-unstyled li a {
    display: block;
    text-align: center;
    background-color: #dedede;
    /* padding: 6px 8px 5px; */
    font-size: 12px;
    color: #000;
    /* line-height: 17px; */
    text-transform: uppercase;
}

 @media (max-width : 1000px) {
    .navbar-brand {
        display: none;
    }
    #brand-md {
        display: block;
        height: 120px;
    }
 }

 .badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
  margin: 20px 0;
  float: right;
  background: white;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
}
  
 @media (max-width : 1120px) {
    ul li {
        margin-left: 10px;
    }
 }

 @media (max-width : 500px) {
    #brand-md {
        margin-left: 26.6%;
    }
 } 
