<admin-navbar></admin-navbar>

<!-- <ul>
  <li *ngFor="let item of products">
    <p>{{item.key}}</p>
  </li>
</ul> -->

<div class="form">
  <form #uploadForm = 'ngForm' (ngSubmit) = 'upload(uploadForm.value); uploadForm.reset()'  ngNativeValidate>
  <label for="title">Ürün Başlığı</label>
  <input type="text" name="title" id="title" ngModel required>
  <label for="description">Ürün Açıklaması</label>
  <textarea name="description" id="description" cols="20" rows="5" ngModel></textarea>
  <label for="fileupload">Ürün Görseli</label>
  <input id="fileupload" type="file" (change)="selectFile($event)" />
  <label for="price">Ürün Fiyatı</label>
  <input type="number" step="0.01" id="price" name="price" ngModel>
  <label for="sizes">Bedenler</label>
  <div id="sizes">
    <label for="s">XXS</label>
    <input type="checkbox"   id="xxs" (change) = 'selectSizeHandler("XXS")'>
    <label for="s">XS</label>
    <input type="checkbox"  id="xs" (change) = 'selectSizeHandler("XS")'>
    <label for="s">S</label>
    <input type="checkbox" id="s" (change) = 'selectSizeHandler("S")'>
    <label for="s">M</label>
    <input type="checkbox" id="m" (change) = 'selectSizeHandler("M")'>
    <label for="s">L</label>
    <input type="checkbox"  id="l" (change) = 'selectSizeHandler("L")'>
    <label for="s">XL</label>
    <input type="checkbox"  id="xl" (change) = 'selectSizeHandler("XL")'>
    <label for="s">XXL</label>
    <input type="checkbox" id="xxl" (change) = 'selectSizeHandler("XXL")'>
  </div>

  <div class="" *ngFor="let size of sizes">
    <label for="">{{size}} Beden Stok Miktarı</label>
    <input type="number" name={{size}} ngModel>
  </div>
  
  <button type="submit" class="btn btn-success btn-sm mt-2" [disabled]="!selectedFiles">Yükle</button>

  <div *ngIf="currentFileUpload" class="progress mt-2">
    <div
      class="progress-bar progress-bar-info"
      role="progressbar"
      attr.aria-valuenow="{{ percentage }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: percentage + '%' }"
    >
      {{ percentage }}%
    </div>
  </div>
</form>
</div>
