<admin-navbar></admin-navbar>

<div class="form" *ngIf="!showUpdate">
  <form #uploadForm = 'ngForm' (ngSubmit) = 'upload(uploadForm.value); uploadForm.reset()'  ngNativeValidate>
  <label for="category">Ürün Kategorisi</label>
  <select name="category" id="category" ngModel>
    <option value="Hoodie">Hoodie</option>
    <option value="Sweatshirt">Sweatshirt</option>
    <option value="Tshirt">Tişört</option>
    <option value="Esofman">Eşofman</option>
    <option value="Pantolon">Pantolon</option>
    <option value="Gomlek">Gömlek</option>
    <option value="Sort">Şort</option>
    <option value="Ceket">Ceket</option>
    <option value="Mont">Mont</option>
    <option value="Corap">Çorap</option>
    <option value="Sapka">Şapka</option>
    <option value="Elbise">Elbise</option>
    <option value="Etek">Etek</option>
    <option value="Crop">Crop</option>
    <option value="Tayt">Tayt</option>
    <option value="Bluz">Bluz</option>
  </select>
  <label for="title">Ürün Başlığı</label>
  <input type="text" name="title" id="title" ngModel required>
  <label for="description">Ürün Açıklaması</label>
  <textarea name="description" id="description" cols="20" rows="5" ngModel></textarea>
  <label for="fileupload">Ürün Görseli</label>
  <input id="fileupload" type="file" (change)="selectFile($event)" />
  <label for="price">Ürün Fiyatı</label>
  <input type="number" step="0.01" id="price" name="price" ngModel>
  <label for="sizes">Bedenler</label>
  <div id="sizes">
    <label for="s">XXS</label>
    <input type="checkbox"   id="xxs" (change) = 'selectSizeHandler("XXS")'>
    <label for="s">XS</label>
    <input type="checkbox"  id="xs" (change) = 'selectSizeHandler("XS")'>
    <label for="s">S</label>
    <input type="checkbox" id="s" (change) = 'selectSizeHandler("S")'>
    <label for="s">M</label>
    <input type="checkbox" id="m" (change) = 'selectSizeHandler("M")'>
    <label for="s">L</label>
    <input type="checkbox"  id="l" (change) = 'selectSizeHandler("L")'>
    <label for="s">XL</label>
    <input type="checkbox"  id="xl" (change) = 'selectSizeHandler("XL")'>
    <label for="s">XXL</label>
    <input type="checkbox" id="xxl" (change) = 'selectSizeHandler("XXL")'>
  </div>

  <div class="" *ngFor="let size of sizes">
    <label for="">{{size}} Beden Stok Miktarı</label>
    <input type="number" name={{size}} ngModel>
  </div>
  
  <button type="submit" class="btn btn-success btn-sm mt-2" [disabled]="!selectedFiles">Yükle</button>

  <div *ngIf="currentFileUpload" class="progress mt-2">
    <div
      class="progress-bar progress-bar-info"
      role="progressbar"
      attr.aria-valuenow="{{ percentage }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: percentage + '%' }"
    >
      {{ percentage }}%
    </div>
  </div>
</form>
</div>


  <div class="container" *ngIf="showUpdate">
    <div class="product-list">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" *ngFor="let item of products">
                <div class="product-item">
                    <div class="image"><img src={{item.url}} alt={{item.name}} routerLink={{item.key}} routerLinkActive="router-link-active" >
                        <span class="card-actions">
                            <i class="bi bi-bag" style="font-style:normal;"   id="sepet"><span class="ms-2">Sepete Ekle</span></i>
                            <i class="bi bi-heart" style="font-style:normal;" id="favori"><span class="ms-2">Favoriler</span></i>
                        </span>
                    </div>
                    <div class="detail">
                        <a routerLink={{item.key}} routerLinkActive="router-link-active" >{{item.title}}</a>
                        <div class="price">{{item.price}} ₺</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
