<admin-navbar></admin-navbar>   
<div class="container">
<div class="product-list">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" *ngFor="let item of fileUploads">
            <div class="product-item">
                <div class="image"><img src={{item.url}} alt={{item.name}}></div>
                <div class="detail">
                    <a href="http://localhost:4200/Administration/Products/{{item.key}}" >{{item.title}}</a>
                    <div class="price">{{item.price}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>