
<span  id="newAddressButton">
    <button class="btn btn-success" *ngIf="!newAddressClicked" (click) = 'handleNewAddressButton()'>Yeni Adres Ekle</button>
</span>
<div id="addressForm">
    <form #addressForm = 'ngForm' *ngIf="newAddressClicked === true" (submit) = 'handleAddressSubmission(addressForm.value); addressForm.reset'>
        <div class="w-100">Adres ekle <span class="float-end"><i class="bi bi-x-lg" (click) = 'closeNewAddressForm()'></i></span></div>
        <hr>
        <div class="row">
            <div class="col-6">
                <label for="ad">Ad*</label>
                <input type="text" name="ad" id="ad" ngModel required>
            </div>
            <div class="col-6">
                <label for="soyad">Soyad*</label>
                <input type="text" name="soyad" id="soyad" ngModel required>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="il">İl*</label>
                <select name="il" id="il" (change) = 'handleIlSelection($any($event.target).value)' ngModel>
                    <option *ngFor="let il of iller" value={{il}}>{{il}}</option>
                </select>
            </div>
            <div class="col-6">
                <label for="ilce">İlçe*</label>
                    <select name="ilce" id="ilce" ngModel [ngClass]="ilSelected! == false ? 'ilceDisabled' : 'none'">
                        <option *ngFor="let ilce of ilceler" value={{ilce}}>{{ilce}}</option>
                </select>
            </div>
        </div>
        <label for="adres-detay">Adres</label>
        <textarea name="adres-detay" id="adres-detay" cols="30" rows="5" style="width: 100%;"></textarea>
        <div class="row">
            <div class="col-6">
                <label for="telefon">Telefon*</label>
                <input type="tel" name="telefon" id="telefon" ngModel required>
            </div>
            <div class="col-6">
                <label for="postakodu">Posta Kodu</label>
                <input type="number" name="postakodu" id="postakodu" ngModel required>
            </div>
        </div>
            <label for="baslik">Adres Başlığı*</label>
            <input type="text" name="baslik" style="width: 100%;" ngModel>
        <button type="submit" class="btn btn-primary" id="saveAddressBtn">Kaydet</button>
    </form>
</div>

