<ng-navbar></ng-navbar>
<hr>
<div class="bg-light p-5">
   <h1>DEĞİŞMEYEN KALİTE</h1>
<!-- <i class="bi bi-infinity"></i> -->
<div class="container bg-light">
    <span>
        2001 senesinden günümüze Düzce'nin Gümüşova ilçesinde faaliyet göstermekteyiz. Giyim sektöründe 20 yılı
        aşkın tecrübemizle müşteri memnuniyetini her zaman ön planda tutar, özenle seçilmiş ürünlerimizin her koşulda arkasında dururuz.
     </span>
</div>
<i class="bi bi-box-seam"></i>
<div class="container">
    <span>
        Siparişleriniz 2 iş günü içerisinde kargoya teslim edilir. 
     </span>
</div>
<i class="bi bi-shield-lock"></i>
<div class="container">
    <span>
        Üyelik bilgileriniz 256 bit SSL sertifikalı altyapımız ile korunur
    </span>
</div>
<i class="bi bi-credit-card-2-back"></i>
<div class="container">
    <span>
      Kart bilgileriniz hiçbir şekilde sistemimizde kaydolmaz, <a href="https://www.iyzico.com/" target="_blank">Iyzico</a> ile güvenle ödeme yapabilirsiniz.
    </span>
</div>
</div>
<contact></contact>
<br><br><br><br><br><br>
<br><br><br>
<footer></footer>