<admin-navbar></admin-navbar>

<div class="sidebar">
    <ul class="list-unstyled">
        <li><i class="bi bi-qr-code me-2"></i><span>Kod Oluştur</span> </li>  
        <li><i class="bi bi-check2-circle me-2"></i><span>Ürünleri Seç</span></li>
        <li><i class="bi bi-broadcast-pin me-2"></i><span>Aktif Kampanyalar</span></li>
    </ul>
</div>

<form #offerForm = 'ngForm' (submit) = 'makeOffer(offerForm.value); offerForm.reset()' ngNativeValidate id="codeForm">
<label for="code">Kampanya Kodu</label>
<input type="text" id="code" name="code" class="mt-2" ngModel required>
<label for="rate" class="mt-4">İndirim Oranı</label>
<div class="rateField mt-2">
    <span (click) = 'handleRateSelection(5)'>%5</span>
    <span (click) = 'handleRateSelection(10)'>%10</span>
    <span (click) = 'handleRateSelection(15)'>%15</span>
    <span (click) = 'handleRateSelection(20)'>%20</span>
    <span (click) = 'handleRateSelection(25)'>%25</span>
    <span (click) = 'handleRateSelection(30)'>%30</span>
    <span (click) = 'handleRateSelection(40)'>%40</span>
    <span (click) = 'handleRateSelection(50)'>%50</span>
</div>
<p *ngIf="rateSelected" class="mt-3">Sepette <span style="text-decoration:underline; color: rgb(38, 179, 38);">%{{codeRate}} </span> indirim uygulanacaktır</p>
<button type="submit" class="mt-2">Onayla</button>
</form>