<div class="kampanya">300₺ VE ÜZERİ ÜCRETSİZ KARGO!</div>
<ng-navbar></ng-navbar>
<div class="container">
<div class="product-list">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" *ngFor="let item of fileUploads">
            <div class="product-item">
                <div class="image"><img src={{item.url}} alt={{item.name}} routerLink={{item.key}} routerLinkActive="router-link-active" >
                    <div class="sizes">
                        <div *ngFor="let size of item.sizes" class="size" (click) = 'selectSize(item,size)'>{{size}}</div>
                    </div>
                    <span class="card-actions">
                        <i class="bi bi-bag" style="font-style:normal;"  (click) = 'addToCard(item)' id="sepet"><span class="ms-2">Sepete Ekle</span></i>
                        <i class="bi bi-heart" style="font-style:normal;" id="favori"><span class="ms-2">Favoriler</span></i>
                    </span>
                </div>
                <div class="detail">
                    <a routerLink={{item.key}} routerLinkActive="router-link-active" >{{item.title}}</a>
                    <div class="price">{{item.price}} ₺</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br><br><br><br><br><br><br><br>
<footer></footer>