<ng-navbar></ng-navbar>
<hr style="margin-top: -20px;">

<div class="container">
    <ul class="list-unstyled d-flex justify-content-center">
        <li><a (click)= "showMyInfo()" [ngStyle]="{'borderBottom': myInfoClicked == true ? '2px solid grey' :  'none'}">Bilgilerim</a> </li>
        <li><a (click) = 'showMyAddresses()' [ngStyle]="{'borderBottom': myAddressesClicked == true ? '2px solid grey' :  'none'}">Adreslerim</a> </li>
        <li><a (click) = 'showMyOffers()' [ngStyle]="{'borderBottom': myOffersClicked == true ? '2px solid grey' :  'none'}">Kampanyalar</a> </li>
        <li><a (click) = 'showMyOrders()' [ngStyle]="{'borderBottom': myOrdersClicked == true ? '2px solid grey' :  'none'}">Siparişlerim</a> </li>
    </ul>
</div>

<div style="height:87vh ;">
<div class="container" *ngIf="this.myInfoClicked">
    <form #updateInfoForm = 'ngForm' (submit) = 'handleInfoUpdate(updateInfoForm.value); updateInfoForm.reset()' ngNativeValidate>
        <div class="currentInfos">
            <div class="field">
                <label for="name">Adınız <span class="text-danger">*</span></label>
                <input type="text" name="name" id="name" ngModel placeholder={{currentUser.name}} required >
            </div>
            <div class="field">
                <label for="email" >E-Posta Adresiniz</label>
                <input name = "mail" id = "mail" type="email" disabled  value={{currentUser.mail}}>
            </div>
            <div class="field">
                <label for="gsm">Telefon Numaranız <span class="text-danger">*</span></label>
                <input type="number" name="phone" id="gsm" ngModel placeholder={{currentUser.phone}} required>
            </div>
        </div>
        <div class="new-password-field d-flex">
            <div class="field">
                <label for="password">Eski Şifreniz <span class="text-danger">*</span></label>
                <input type="password" name="password" id="password" ngModel required>
            </div>
            <div class="field">
                <label for="newPassword">Yeni Şifreniz <span class="text-danger">*</span></label>
                <input type="password" name="newPassword" id="newPassword" ngModel required>
            </div>
            <div class="field">
                <label for="newPassword">Şifre Tekrar <span class="text-danger">*</span></label>
                <input type="password" name="newPasswordAgain" id="newPaswordAgain" ngModel required>
                <p *ngIf="newPasswordMatches == false" class="text-danger">Şifreler birbirinden farklı.</p>
                <p class="text-center d-block text-secondary" style="font-size:smaller;" *ngIf="myInfoClicked"> <span class="text-danger" style="position: relative; top:3px;">*</span> : doldurulması zorunlu alan</p>
            </div>
            <div class="d-flex justify-content-center ">
                <button type="submit" class="btn btn-primary pt-2 pb-2 ">Güncelle</button>
                <button type="button" (click) = "handleDeleteAccount()" class="btn btn-danger pt-2 pb-2 ms-3">Hesabı Sil</button>
            </div>
            <!-- <button type="submit" class="btn btn-primary pt-2 pb-2 ">Güncelle</button>
            <button type="button" (click) = "handleDeleteAccount()" class="btn btn-danger pt-2 pb-2 mt-1">Hesabı Sil</button> -->
        </div>
    </form>
</div>

<table class="table justify-content-center" *ngIf="myOffersClicked && offerList.length > 0 ">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Kampanya Kodu</th>
        <th scope="col" class="">Sağlayıcı</th>
        <th scope="col" class="">İndirim</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offer of offerList">
        <th scope="row" class="text-center"><i class="bi bi-qr-code text-success"></i></th>
        <td class="text-info text-center">
            {{offer.code}}
        </td>
        <td style="letter-spacing:3px ;">
            CALSKAN
        </td>
        <td class="">
            {{offer.rate}}%
        </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="myOffersClicked && offerList.length == 0" class=" text-center mt-5 fw-bold">Size özel bir kampanyamız bulunmamaktadır :(</p>


  <div *ngIf="myOrdersClicked">
    <div class="order" *ngFor="let order of orderList">
        <!-- <span class="text-success"><i class="bi bi-box-seam"></i> Siparişiniz Hazırlanıyor</span> -->
        <div class="order-header">
            <p>Sipariş Tarihi <span class="d-block text-center">{{order.date}}</span></p>
            <p>Sipariş Özeti <span class="d-block text-center">{{order.items.length}} ürün </span></p>
            <p>Alıcı <span class="d-block text-center">{{currentUserName}}</span></p>
            <p>Tutar <span class="d-block text-center">{{order.total.toFixed(2)}}₺</span></p>
            <button type="button" class="btn btn-secondary">Sipariş Detayı</button>
        </div>
        <ul class="order-list list-unstyled">
            <li *ngFor="let item of order.items">
               <img src={{item.url}} alt={{item.name}} style="width: 80px; height:80px">
               <span>{{item.title}}</span>
               <span>{{item.description}}</span>
               <span>{{item.price}}₺</span>
               <span>{{item.selectedSize}}</span>
               <span><button class="btn">İade Talebi</button></span>
            </li>
        </ul>
    </div>
  </div>

</div>

<!-- <footer></footer> -->