
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.field {
    display: block;
}

.field label {
    min-width: 150px;
    max-width: 200px;
    font-weight: bold;
    font-size: 14px;
}

.field input {
    margin-left: 2rem;
    margin-bottom:2rem;
    border: .5px solid grey;
    padding: 1px;
    border-radius: 5px;
    width: 250px;
}

.container ul li {
    margin: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    
}

ul li a {
    text-decoration: none;
    color: rgb(17, 17, 113);
}

ul li a:hover {
    cursor: pointer;
}

.currentInfos {
    display: block;
}

.new-password-field {
    flex-direction: column;
    margin-left: 2rem;
}
form {
    display: flex;
}

.order {
    border: 1px solid black;
    margin: 5px;
}

.order button {
    max-height: 35px;
}

.order-header {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid grey;
    padding: 1rem;
    margin:1rem;
    max-height: 80px;
}

.order-header p span {
    font-weight: 400;
    font-size: smaller;
}
