<admin-navbar></admin-navbar>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">İsim</th>
        <th scope="col">Email</th>
        <th scope="col">Mesaj</th>
        <th scope="col" class="">İşlemler</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">        
        <td>{{ticket.name}}</td>
        <td>{{ticket.email}}</td>
        <td style="max-width:100px ;">{{ticket.message}}</td>
        <td class="">
            <button class="btn btn-danger" (click) = 'deleteTicket(ticket)'>Sil</button>
            <button class=" ms-3 btn btn-info"><a href=mailto:{{ticket.email}}>Yanıtla</a> </button>
        </td>
      </tr>
    </tbody>
  </table>