* {
    scroll-behavior: smooth;
}

.footer-info {
    position:absolute;
    bottom: 0;
}

.list {
    visibility: hidden;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.77);
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

.e-bulten {
    padding: 1rem;
    background-color: rgb(41, 41, 41);
    color: white;
}
.e-bulten button {
    background-color: #A1480B;
    margin-bottom: 2px;
}

.contact {
    background-color: #FA7355;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a i {
    transition: all .4s;
}

a i:hover {
    color: rgb(169, 69, 69);
}

#cart-count-footer {
    display: inline;
    position: relative;
    top: -20px;
    color: rgb(158, 85, 85);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    font-style: normal;
    font-size: 20px;
    width: 15px;
    height: 15px;
    text-align: center;
}

@media (max-width : 767px) {
    .list {
        visibility: visible;
        bottom: 0;
    }
    .empty {
        height: 92px;
    }
    p {
        font-size: 15px;
    }
}
