* {
    scroll-behavior: smooth;
}

#footer {
    display: none;
    position: fixed;
    bottom: 0;
}
#footer ul {
    margin-bottom: 0;
}

#footer ul li {
    border:none;
    /* background-color: rgba(255, 255, 255, 0.707); */
}

a {
    text-decoration: none;
    color: black;
}

a i {
    transition: all .4s;
}

a i:hover {
    color: rgb(169, 69, 69);
}

@media (max-width : 760px) {
    #footer {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p {
        font-size: 15px;
    }
}

@media (max-width : 400px) {
    #footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:0;
    };
}
