* {
    scroll-behavior: smooth;
}

.footer-info {
    position:absolute;
    bottom: 0;
}

.list {
    visibility: hidden;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.497);
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.e-bulten {
    padding: 1rem;
    background-color: rgb(41, 41, 41);
    color: white;
}
.e-bulten button {
    background-color: #A1480B;
    margin-bottom: 2px;
}

.contact {
    background-color: #FA7355;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a i {
    transition: all .4s;
}

a i:hover {
    color: rgb(169, 69, 69);
}

@media (max-width : 767px) {
    .list {
        visibility: visible;
        bottom: 190px;
    }
    .empty {
        height: 92px;
    }
    p {
        font-size: 15px;
    }
}
