<br><br><br>
<div class="footer-info w-100 text-center" style="background-color:rgb(236, 246, 255);">
    <div class="e-bulten">
        <form #subscribe = 'ngForm' (ngSubmit) = 'handleSubscribe(subscribe.value); subscribe.reset();'>
            <h3>E-Bülten</h3>
            <p>İndirim, kampanya ve duyurulardan haberdar olmak için e-bültene abone olun.</p>
            <input type="email" class="p-1"  placeholder="E-mail adresiniz" ngModel name="email">
            <button class="btn text-white" type="submit"> KAYDOL </button>
            <p *ngIf="subscribed" class="text-success">Bültene abone olundu.</p>
        </form>
    </div>
   <a href="https://www.linkedin.com/in/caner-eren-%C3%A7al%C4%B1%C5%9Fkan-7a16a61a9/" target="_blank" style="color:rgb(69, 69, 239);">Caner Eren Çalışkan</a> tarafından geliştirilmiştir.
</div>
    <ul class="list">
        <li class=" d-inline-block">
            <a href="#"><i class="bi bi-house fs-1 ps-3"></i></a>
            <p>Anasayfa</p>
        </li>
        <li class=" d-inline-block">
            <a href="#"><i class="bi bi-lightning fs-1 ps-4"></i></a>
            <p>Yeni Gelenler</p>
        </li>
        <li class=" d-inline-block" (click) = 'showCart()'>
            <a><i class="bi bi-cart fs-1 ps-1"></i> </a>
                        <!-- <div id="cart-count-footer">{{cartItems.length}}</div> -->
            <div>Sepet</div>
        </li>
        <li *ngIf="!loginStatus()" class=" d-inline-block">
            <a href="Login"><i class="bi bi-person fs-1 ps-3"></i></a>
            <p>Üye Girişi</p>
        </li>
        <li *ngIf="loginStatus()" class=" d-inline-block">
            <a [routerLink]="['/Account']" routerLinkActive="router-link-active"><i class="bi bi-person fs-1 ps-3"></i></a>
            <p>Hesabım</p>
        </li>
        <li class=" d-inline-block">
            <a href="#"><i class="bi bi-arrow-up fs-1"></i></a>
            <p>Yukarı</p>
        </li>
    </ul>
