
<div class="w-100 mt-1" id="footer">
    <ul class="list">
        <li class="list-group-item d-inline-block">
            <!-- <a href="#">Anasayfa <i class="bi bi-house d-block"></i></a> -->
            <a href="#"><i class="bi bi-house fs-1 ps-3"></i></a>
            <p>Anasayfa</p>
        </li>
        <li class="list-group-item d-inline-block">
            <!-- <a href="#">Yeni Gelenler</a> -->
            <a href="#"><i class="bi bi-lightning fs-1 ps-4"></i></a>
            <p>Yeni Gelenler</p>
        </li>
        <li class="list-group-item d-inline-block">
            <!-- <a href="#">Sepet</a> -->
            <a href="#"><i class="bi bi-cart fs-1 ps-1"></i></a>
            <p>Sepet</p>
        </li>
        <li class="list-group-item d-inline-block">
            <!-- <a href="#">Üye Girişi</a> -->
            <a href="#"><i class="bi bi-person fs-1 ps-3"></i></a>
            <p>Üye Girişi</p>
        </li>
    </ul>
</div>