<div class="">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="..">
            <img src="../../../assets/images/logo.png" alt="calskanlogo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click) = 'showCollapse()'>
          <span class="navbar-toggler-icon"></span>
        </button>
        <img src="../../../assets/images/logo.png" alt="calskanlogo" id="brand-md" [routerLink]="['/Home']" routerLinkActive="router-link-active" >
        <i *ngIf="!noMobile" class="bi bi-cart2 fs-2 me-3" id="cart-image" (click) = 'showCart()'><div id="cart-count" *ngIf="cartItems">{{cartItems.length}}</div></i> 
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active dropdown">
                <a class="nav-link text-dark" [routerLink]="['/Products']" routerLinkActive="router-link-active"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    SWEATSHIRT
                  </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-dark" [routerLink]="['/Products']" routerLinkActive="router-link-active">T-SHIRT</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-dark" [routerLink]="['/Products']" routerLinkActive="router-link-active">PANTOLON</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-dark" [routerLink]="['/Products']" routerLinkActive="router-link-active">EŞOFMAN</a>
            </li>
            <li class="nav-item active">
              <a href="About" class="nav-link text-dark">HAKKIMIZDA</a>
            </li>
          </ul>
        </div>
        <div class="float-end"> 
          <span *ngIf="loginStatus()" id="nav-username">{{userName}}</span>
          <i class="bi bi-person fs-2 mb-4 dropdown p-2 me-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="accountDropdown" (click) = 'MobileShowUserActions()'>
            <div class="dropdown-menu" id="account-dropdown-menu" aria-labelledby="navbarDropdown">
              <ul class="list-unstyled" *ngIf="!loginStatus()">
                <li>
                  <a class="dropdown-item text-center bg-dark" [routerLink]="['/Login']" >
                   <span style="font-style:normal; color: white;">Giriş Yap</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item bg-white" style="border: 1px solid grey;" [routerLink]="['/Register']" >
                    <span style="font-style:normal;">Üye Ol</span>
                </a>
                </li>
                <li style="background-color: white;">
                  <a class="dropdown-item text-center" style="background-color: orange;" (click) = 'googleLogin()' href="#">
                    <span style="font-style:normal; color:white; text-align: center;"><i class="bi bi-google" style="color: white;"></i> Google ile Giriş</span>
                </a>
                </li>
              </ul>
              <ul class="list-unstyled" *ngIf="loginStatus()">
                <li>
                  <a class="dropdown-item text-center bg-dark" [routerLink]="['/Account']" >
                   <span style="font-style:normal; color: white;">Hesabım</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item bg-white" style="border: 1px solid grey;" [routerLink]="['/Register']" >
                    <span style="font-style:normal;">Siparişlerim</span>
                </a>
                </li>
                <li style="background-color: white;">
                  <a class="dropdown-item text-center" style="background-color: red;" (click) = 'logout()' href="#">
                    <span style="font-style:normal; color:white; text-align: center;">Çıkış Yap</span>
                </a>
                </li>
              </ul>
            </div>
          </i>
            <i *ngIf="noMobile" class="bi bi-cart2 fs-2 mb-4" id="cart-image" (click) = 'showCart()'><div id="cart-count">{{cartItems.length}}</div></i> 
            <div *ngIf="cartItems" class="dropdown-menu" id="cart-dropdown" aria-labelledby="navbarDropdown">
              <div style="justify-content:space-between; display: flex;"><span class="fw-bold">SEPET</span><span><i class="bi bi-x-lg m-0 p-0 text-danger" (click) = 'hideCart()'></i></span></div>
              <hr>
              <ul class="list-unstyled">
                <li *ngFor="let item of cartItems" class="mt-4 d-flex">
                  <img src={{item.url}} alt={{item.name}} style="width:50px ; height: 70px;">
                  <div style ="justify-content: center;">
                    <a [routerLink]="['Products/'] + item.key" routerLinkActive="router-link-active"  class="bg-white ms-1" style="font-size:10px ;min-width: 100px; text-align:left; text-decoration: none">{{item.title}}</a>
                    <p class="ms-2" style="color:grey; font-size: small;">Adet : {{item.quantity}}</p>
                    <p class="ms-2" style="color:grey; font-size: small; margin-top: -10px;">Beden : {{item.selectedSize}}</p>
                    <p class="fw-bold ms-2" style="font-size:13px ;">{{item.price}} ₺</p>
                  </div>
                  <i class="bi bi-x-lg" style="position: absolute; right:0;" (click) = 'removeItem(item)'></i>
                </li>
              </ul>
              <p *ngIf="cartItems.length == 0" class="text-center">Sepette ürün yok</p>
              <div class="cart-actions" *ngIf="cartItems.length > 0">
                <p class="text-center">Toplam : {{cartTotal.toFixed(2)}} ₺
                  <span *ngIf="showOffer === true" class="text-success">%50 indirim!</span>
                </p>
                <form #setOfferForm = 'ngForm' (submit) = 'setOffer(setOfferForm.value)' class="d-block" ngNativeValidate>
                  <label for="offercode" class="d-block">Kupon</label>
                  <input type="text" id="offercode" class="mb-2" name="code" ngModel required>
                  <button type="submit" id="setOfferButton">Uygula</button>
                </form>
                <span *ngIf="showOffer === false" class="text-danger mb-1">Böyle bir kod bulunmamaktadır.</span>
                <button class="btn w-100 text-white p-2" style="background-color: #353535 ; font-size: small;" [routerLink]="['/Checkout']" routerLinkActive="router-link-active" >SEPETİ GÖRÜNTÜLE</button>
                <button class="btn w-100 text-dark p-2 mt-2" style="background-color: #F0CB00; font-size: small;" (click) = 'checkout()'>ALIŞVERİŞİ TAMAMLA</button>
              </div>
            </div>
        </div>
      </nav>
</div>