<checkout-navbar></checkout-navbar>
<div class="container">
        <div class="products mt-2">
            <p class="fs-5">Ürünlerim</p>
                <ul class="list-unstyled">
                    <li *ngFor="let item of items" class="mt-4 d-flex">
                        <img src={{item.url}} alt={{item.name}} style="width:200px ; height: 150px;">
                        <div style ="justify-content: center;">
                          <a href="#" class="bg-white ms-1">{{item.title}}</a>
                          <p class="ms-2" style="color:grey;">Adet : {{item.quantity}} <span id="quantity"><i class="bi bi-plus text-success" (click) = 'increase(item)'></i><i class="bi bi-dash text-danger" (click) = 'decrease(item)'></i></span></p>
                          <p class="ms-2" style="color:grey; font-size: small; margin-top: -10px">Beden : L</p>
                          <p class="fw-bold ms-2" style="font-size:13px ;">{{item.price}} ₺</p>
                        </div>
                      </li>
                </ul>
        </div>
    <div class="ozet mt-2">
        <p class="fs-5">Sipariş Özeti</p>
        <div class="ozet-content">
            <p *ngFor="let item of items">
                <span>{{item.quantity}}</span>x <span>{{item.title}}</span><span class="float-end"> {{(item.price * item.quantity).toFixed(2)}}</span>
            </p>
            <hr>
            <span class="float-start fw-bold" >Ara toplam </span> <span class="float-end fw-bold">{{total.toFixed(2)}} ₺</span>
        </div>
        <button class="btn btn-info mt-1 w-100 fw-bold" (click) = 'pay()'>ÖDEME</button>
        <div class="ssl d-flex mt-2">
            <p class="fw-bold text-success mt-2 text-center">100% GÜVENLİ ALIŞVERİŞ</p>
            <p class="info ps-2 pe-2 text-center">256bit SSL sertifikası ile internet sitemizden <br> güvenli alışveriş yapabilirsiniz</p>
        </div>
    </div>  
</div>
