.products {
    width: 30rem;
    max-height: 60vh;
    overflow: scroll;
}

.container {
    display: flex;
    justify-content:space-evenly;
}

.ozet-content {
    background-color: #F2F2F2;
    height: 200px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 10px;
    border: 1px solid rgba(128, 128, 128, 0.669);
}


.list-unstyled {
    padding:0rem 2rem 1rem 1rem;
    border: 1px solid rgba(128, 128, 128, 0.414);
    border-radius: 5px;
}

.lala{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.ozet {
    margin-left: -17rem;
    width: auto;
}

.ozet-content {
    overflow: scroll;
}

.ssl {
    display: flex;
    justify-content: center;
    border: 3px solid #40C42C;
    flex-direction:column;
}

.ssl span i {
    color: red;
}

.info {
    font-size: 10px;
}

#quantity i {
    font-size: 20px;
}

@media (max-width : 1300px) {
    .products {
        margin-right: 20rem;
    }
}

@media(max-width : 800px) {
    .products {
        margin-right: 20rem;
    }

    .ssl {
        margin-bottom: 1rem;
    }
}

@media(max-width : 500px) {
    .container {
        display: block;
    }
    .ozet {
        margin-left: 0;
    }
}