<div class="">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="..">
            <img src="../../../assets/images/logo.png" alt="calskanlogo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img src="../../../assets/images/logo.png" alt="calskanlogo" id="brand-md">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active dropdown">
                <a class="nav-link text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    SWEATSHIRT
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="bi bi-gender-male fs-3"></i>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <i class="bi bi-gender-female fs-3"></i>
                    </a>
                  </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-dark" href="#">T-SHIRT</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-dark" href="#">PANTOLON</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-dark" href="#">EŞOFMAN</a>
            </li>
            <li class="nav-item active">
              <a href="About" class="nav-link text-dark">HAKKIMIZDA</a>
            </li>
          </ul>
        </div>
        <div class="float-end">
            <a href="Login" class="text-dark" id="accdropdown">
              <i class="bi bi-person fs-2 mb-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="accountDropdown">
                <!-- <div class="dropdown-menu" aria-labelledby="accountDropdown">
                  <a class="dropdown-item text-center" href="#">
                      <i class="bi bi-gender-male fs-3"></i>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">
                      <i class="bi bi-gender-female fs-3"></i>
                  </a>
                </div> -->
              </i></a> 
            <i class="bi bi-cart2 fs-2 mb-4 "></i> 
        </div>
      </nav>
</div>