<div class="">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="..">
      <img src="../../../assets/images/logo.png" alt="calskanlogo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      id="navbar-burger"
      (click) = 'showNavbar()'
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <img
      src="../../../assets/images/logo.png"
      alt="calskanlogo"
      id="brand-md"
    />
    <i class="bi bi-x float-end fs-1" *ngIf="navbarVisible" (click) = 'hideNavbar()'></i>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link text-dark" href="Products" target="_blank">Ürünler</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-dark" [routerLink]="['/Administration/Actions']" routerLinkActive="router-link-active" >Ürün Yükle</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-dark" [routerLink]="['/Administration/Actions']" routerLinkActive="router-link-active" >Ürün Güncelle</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-dark" [routerLink]="['/Administration/Kampanya']" routerLinkActive="router-link-active" >Kampanya Oluştur</a>
        </li>
      </ul>
    </div>
    <div class="float-end">
      <ul class="p-3 navbar-nav">
        <li class="nav-item active">
          <a href="#" class="text-center nav-link text-dark"
            ><i class="bi bi-box-arrow-right text-center fs-2" (click) = 'signOut()'></i
          ></a>
          <span style="position: relative; top: -13px;" class="text-center">Logout</span>
        </li>
      </ul>
    </div>
  </nav>
</div>
